.modify-pw-wrap > ul.list-wrap{
    max-width: 500px;
}

.modify-pw-wrap .btn-wrap{
    button{ margin: 0 0.5rem; }
}

p.txt-error{
    color: #ff0202;
    font-size: 16px;
    margin:0.2rem auto 0.8rem;
    text-align: center;
}